<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="layout::header"></div>
</head>
<div th:replace="layout::navbar"></div>
<body>
<h1 style="text-align: center"> Thêm mới tranh</h1>
<form th:object="${tacPhamDto}" action="/tacpham/save" method="post">
    <table>
        <tr>
            <td>Tên tác phẩm</td>
            <td><input type="text" th:field="*{ten}" placeholder="Nhập tên tác phẩm" ></td>
            <td> <small th:errors="*{ten}" th:if="${#fields.hasErrors('ten')}"></small></td>
        </tr>
        <tr>
            <td>Hoạ Sĩ</td>
            <td><input type="text" th:field="*{hoaSi}" placeholder="Nhập tên hoạ sĩ"></td>
            <td > <small th:errors="*{hoaSi}" th:if="${#fields.hasErrors('hoaSi')}"></small></td>
        </tr>
        <tr>
            <td>Năm vẽ</td>
            <td><input type="date" th:field="*{namVe}" placeholder="Nhập năm vẽ"></td>
            <td > <small th:errors="*{namVe}" th:if="${#fields.hasErrors('namVe')}"></small></td>
        </tr>
        <tr>
            <td>Kích Thước</td>
            <td><input type="text" th:field="*{kichThuoc}" placeholder="Nhập kích thước"></td>
            <td> <small th:errors="*{kichThuoc}" th:if="${#fields.hasErrors('kichThuoc')}"></small></td>
        </tr>
        <tr>
            <td>Thể Loại</td>
            <td> <select th:field="*{theLoai}">
                <option value="0"> Chọn thể loại</option>
                <option th:each="tl:${theLoai}"
                th:value="${tl.id}"
                th:text="${tl.ten}"></option>
            </select ></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary">Thêm Mới</button></td>
            <td ></td>
        </tr>
    </table>
</form>
</body>
<div th:replace="layout::footer"></div>
</html>