<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery-3.6.3.min.js"></script>
    <div th:replace="layout::header" ></div>
</head>
<div th:replace="layout::navbar" ></div>
<body>
<h1 style="text-align: center"> Danh sách tác phẩm</h1>
<div class="row">
    <div class="col-sm-7">
        <a style="text-decoration: none; color: white" th:href="@{/tacpham/create}" >
            <button class="btn btn-primary"> Thêm Tranh</button>
        </a>
    </div>
    <div class="col-sm-5">
        <form action="/" method="get">
            <div class="row">
                <div class="col-sm-5"><input class="form-control " name="timTacPham" placeholder="Nhập tên tác phẩm" th:value="${param.timTacPham}"></div>
                <div class="col-sm-5">
                    <select class="form-control " name="idTheLoai">
                    <option value="0"> Chọn Thể Loại</option>
                    <option th:each="tl:${theLoai}"
                            th:value="${tl.id}"
                            th:text="${tl.ten}"
                            th:selected="${tl.id == param.idTheLoai}"></option>
                </select>
                </div>
                <div class="col-sm-2">
                    <button class="form-control " type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

</div>

<marquee th:text="${mess}">
</marquee>
<table class="table table-striped">
    <tr>
        <td >Stt</td>
        <td >Tên tác phẩm</td>
        <td >Hoạ Sĩ</td>
        <td >Năm Vẽ</td>
        <td >Thể loại</td>
        <td >Kích thước</td>
        <td >Xoá</td>
    </tr>
    <tr th:each="tp:${tacPham}">
        <td th:text="${tp.id}" ></td>
        <td th:text="${tp.ten}" ></td>
        <td th:text="${tp.hoaSi}" ></td>
        <td th:text="${tp.namVe}" ></td>
        <td th:text="${tp.theLoai.ten}" ></td>
        <td th:text="${tp.kichThuoc}" ></td>

        <td>
            <button th:attr="onclick=|infoDelete('${tp.id}','${tp.ten}')|"
                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
Xoá
            </button>
        </td>

    </tr>
</table>
<div>  <a th:href="@{/(page=${tacPham.number -1},timTacPham=${timTacPham},idTheLoai=${idTheLoai})}"
th:if="${tacPham.hasPrevious()}"><button class="btn btn-primary">Previous</button></a>

    <span th:text="${tacPham.number +1}"></span>/<span th:text="${tacPham.totalPages}"></span>

<a th:href="@{/(page=${tacPham.number +1},timTacPham=${timTacPham},idTheLoai=${idTheLoai})}"
              th:if="${tacPham.hasNext()}"><button class="btn btn-primary">Next</button></a>
</div>

</body>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/tacpham/delete" method="get">
                <div class="modal-body">
                    <input hidden type="text" th:id="id" th:name="id">
                    <span>You Want To Delete: </span><span id="name"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="layout::footer"></div>
<script>
function infoDelete(id,ten) {
    document.getElementById("id").value =id;
    document.getElementById("name").innerText =ten;

}
</script>
</html>